# 보안
.env

# 파이썬 생성 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상 환경
env/
.venv/
venv/

# Pip 패키지 관리자 생성 파일
pip-selfcheck.json
pip-log.txt

# IDE (개발 도구) 설정
.idea/
.vscode/

# 운영체제(OS) 생성 파일
.DS_Store
Thumbs.db

# 애플리케이션 데이터 및 로그
schedule_data.json
*.log