# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.so
*.manifest
*.spec

# Virtual environment
.venv/
venv/
ENV/
env/
*.env

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db

# User-specific data files
schedule_data.json